@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is the Employee Registry Tracking System.  It provides an interface for users (admins and regular users) to login and locate employees within
    the Software Engineering Center (SEC) organization based on the organizational structure (org chart) from directorate down to branch.  As a regular 
    user, one can only view the employee information.  An admin user can modify (update) or archive the employee information.  The goal of this 
    application is to provide employees the ability to print/view an organizational chart that shows where they are located with respect to the 
    organizational structure levels.</p>
