@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = "Create/Add New Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add New User Role/Permissions for Employee Registry Application:</h2>

@using (Html.BeginForm())
{
    <p> Enter User Role Name:</p>

    @Html.EditorFor(m => m.Name)
    <input type="submit" value="Create Role" />
}
