@model EmployeeRegistry.Models.lutER_Organization

@{
    ViewBag.Title = "Organization Information Details";
}

<h2>Details</h2>

<div>
    <h4>Organization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OrganizationalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrganizationalName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrganizationalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
